<div class="topcoat-list__container">
	<h3 class="topcoat-list__header">Category</h3>
	<ul class="topcoat-list">
		<li class="topcoat-list__item">
			Item
		</li>
		<li class="topcoat-list__item">
			Item
		</li>
		<li class="topcoat-list__item">
			Item
		</li>
	</ul>
</div>